*{
    padding: 0;
    margin: 0;
   
}
.carousel{
    margin: 3em 0  0 3em;
    display: flex;
    gap: 10em;
    width: 100%;
    overflow-x: auto;
  

    
}
.carousel::-webkit-scrollbar{

    display:flex;
}
.carousel::scroll-button(right){


content: '>';
border: none;
background: #062fffaa;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
height: 40px;
width:40px;
border-radius: 50%;
padding-bottom:.1em ;
cursor: pointer;
color: white;
position: absolute;
left: 55%;
padding: 10px;
font-size: 40px;
bottom: 14%;
}
.carousel::scroll-button(left){


content: '<';
border: none;
background: #062fffaa;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
height: 40px;
width:40px;
border-radius: 50%;
padding-bottom:.1em ;
cursor: pointer;
color: white;
position: absolute;
right: 55%;
padding: 10px;
font-size: 40px;
bottom: 14%;


}
.card{
    flex: 0 0 20em;
 
    padding: 1em;
    border-radius: 5em;
    text-align: center;
    align-content: center;
    border-radius: 1px;

   
}

#maindiv{
    width: 90%;
    background: #369de200;
    align-items: center;
   flex-grow: 5;
   flex-wrap: wrap;

   padding-left: 30px;
}

